.teste {
  background-color: lightseagreen;
  opacity: 0.85;
  border-radius: border-box;
  padding: 5px;
}

.testeDead {
  background-color: gray;
  opacity: 0.85;
  border-radius: border-box;
  padding: 5px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/85/Dead.png");
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  color: whitesmoke;
}

.teste2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.teste h1 {
  font-size: 3rem;
}

.testeDead h1 {
  font-size: 3rem;
}

.invincibleCheckbox {
  z-index: 1;
  font-size: 1em;
  display: flex;
  position: absolute;
  align-items: center;
  margin: 11.2em 0.3em;
}

.lifeCounterArea button {
  font-size: 2rem;
  min-width: 2.5rem;
  border-radius: 20px;
  border: solid 1px black;
  cursor: pointer;
  padding: 0rem 0.5rem;
  margin: 10px;
}

.lifeCounterArea {
  border: black 2px solid;
  box-shadow: 2px 5px 5px black;
  margin: 15px;
}

.playerName {
  cursor: pointer;
  font-size: 3rem;
  transition: 2s;
  margin: 8px;
}

.playerName:hover {
  color: white;
}

.botaoContainer {
  display: flex;
  justify-content: flex-end;
}

.botaoFechar {
  z-index: 2;
  border: solid black 1px;
  padding: 0 6px;
  max-width: 1.5em;
  font-size: 1em;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
}

.teste4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.teste4 button {
  margin: 3px;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 40%;
}

.teste4 h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 3.5em;
}

.increase button:hover {
  color: green;
  transition: 0.5s;
}

.reduce button:hover {
  color: red;
  transition: 0.5s;
}
