.coin {
  cursor: pointer;
  max-width: 80px;
  padding: 5px;
}

.coinBG {
  border-radius: 50%;
  box-shadow: 2px 1px 5px white;
  background-color: lightseagreen;
  background-color: rgba(255, 100, 0, 0.705);
  border: solid 3px black;
  margin-right: 10px;
}
