.coin {
  cursor: pointer;
  margin-right: 10px;
  max-width: 80px;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: 2px 5px 5px black;
  padding: 5px;
  background-color: lightseagreen;

  background-color: rgba(255, 100, 0, 0.705);
  box-shadow: 2px 1px 5px white;
}
